/* ------------------------- Page Container ------------------------- */

.action-interface-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    padding:10px;
}

/* ------------------------- Planned Action Panel ------------------------- */

.action-interface-page .graph-list-panel {
    flex: 1;
    margin: 0 10px; /* Horizontal padding between panels */
    width: 480px;
    max-width: 380px; /* Limit the maximum width */
    box-sizing: border-box;
}

/* ------------------------- Planned Action Panel ------------------------- */

.action-interface-page .action-list-panel {
    flex: 1;
    margin: 0 10px; /* Horizontal padding between panels */
    width: 480px;
    max-width: 380px; /* Limit the maximum width */
    box-sizing: border-box;
}

/* ------------------------- Node Editor Panel ------------------------- */

.action-interface-page .node-editor-panel {
    flex: 1;
    margin: 0 10px;
    width: 900px;
    box-sizing: border-box;
}

/* ------------------------- Graph Info Panel ------------------------- */

.action-interface-page .graph-info-panel {
    flex: 1;
    margin: 0 10px;
    width: 480px;
    max-width: 380px;
    box-sizing: border-box;
    background-color: transparent;
}
