/* Remove or override any old .queue-item h3 { position: absolute; ... } */

/* Container for the entire panel */
.planned-action-sub-panel {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Sub-container for the list of actions */
.planned-action-sub-container {
  background-color: #ddd;
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Individual action container */
.planned-action-item {
  background-color: #eee;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 30px;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Larger text for the action name */
.action-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 7px;
}

.status-action-item {
  color: rgb(167, 167, 167);
  text-align: right;
  font-size: 12px;
}

/* Show/hide parameters link */
.parameter-toggle {
  cursor: pointer;
  color: rgb(179, 0, 0);
  text-decoration: underline;
  margin-bottom: 5px;
}

/* Nested list styling for parameters */
.planned-action-item ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 5px 0;
}

.planned-action-item ul li {
  margin: 2px 0;
  font-size: 1rem;
}

/* For empty queue messages */
.planned-action-item p {
  color: #999;
  font-style: italic;
  text-align: center;
  margin: 0;
}

/* Status color highlights for the entire item box */
.status-finished {
  background-color: #73e573 !important;
}

.status-running {
  background-color: #e3e573 !important;
}

.status-stopped {
  background-color: #E57373 !important;
}

.status-handling {
  background-color: #73c1e5 !important;
}

.actor-filter {
  display: flex;
  align-items: center;
  padding: 9px;
  font-size: 1rem;
  background-color: #272727; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.actor-filter label {
  margin-right: 20px;
  margin-left: 20px;
  color: white;
  white-space: nowrap; 
}

.actor-filter select {
  flex: 1;
  padding: 5px;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
  margin-right: 20px;
  background-color: #eee;
}